<!-- header -->
<header>
    <!-- header inner -->
    <div class="header-top">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="/"><img src="/images/logo.png"  alt=""/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-9">

                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu ">
                                    <ul class="menu-area-main">
                                        <li class="active"> <a href="/">Home</a> </li>
                                        <li> <a href="/aboutUs">About</a></li>
                                        <li> <a href="/events">Events</a></li>
                                        <li> <a href="/myEvents">My Events</a> </li>
                                        <li> <a href="/profile"><i class="fa-thin fa-user fa-beat-fade fa-sm" style="color: #6e9ef2;"></i></a> <a href="/logout">Logout</a></li>
                                        <li> <a  class="last_manu" href="/events"><img src="/images/search_icon.png" alt="#" /></a> </li>

                                    </ul>
                                </nav>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
        <section class="slider_section">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">

                        <div class="container">
                            <div class="carousel-caption">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-bg">
                                            <span>The Best</span>
                                            <h1>PLACE TO BOOK YOUR EVENT</h1>
                                            <a href="/events">SEARCH EVENTS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>
</html>