<header xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- header inner -->

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <a href="/"><img src="images/logo.png" alt="#" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-9">

                    <div class="menu-area">
                        <div class="limit-box">
                            <nav class="main-menu ">
                                <ul class="menu-area-main">
                                    <li > <a href="/">Home</a> </li>
                                    <li> <a href="/aboutUs">About</a> </li>
                                    <li> <a href="/events">Events </a> </li>
                                    <li><a href="/myEvents">My Events </a></li>
                                    <li><a href="/profile">Profile</a> </li>
                                    <li > <a th:href="@{/perform_logout}">logout</a> </li>
                                    <li > <form id="search-form" action="/events" method="GET">
                                        <fieldset>
                                            <label for="countryName">Country:</label>
                                            <input type="text" name="countryName" id="countryName">
                                            <label for="startDate">Start Date:</label>
                                            <input type="date" name="startDate" id="startDate">
                                            <input type="submit" value="Search">
                                        </fieldset>
                                    </form>
                                    </li>

                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header inner -->

    <!-- end header -->


</header>