/* Center the big container */
/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}*/

/* Style the big container */
/*.profile-container {
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width:50%;
    height:auto;
}*/

/* Style the left container */
.left-container {
    padding: 20px;
    text-align: center;
    background-color:#FF6969;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Style the right container */
.right-container {
    flex-grow: 1;
    padding: 20px;
    background-color:white;
}

.line {
    position: absolute;
    bottom: 0; /* Adjust the distance from the bottom as needed */
    left: 0; /* Adjust the starting point as needed */
    width: 50%; /* Adjust the length of the line */
    height: 2px;
    background-color: #333;
    border-bottom: 2px solid #333; /* Adjust the line color and thickness as needed */
}

.right-container h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.right-container p {
    font-size: 1rem;
    margin: 5px 0;
}
