<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/aboutUs.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/searchbar.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <title>About Us</title>
</head>

<body>
<section class="about">
    <div th:replace="fragments/headerAfter :: header"></div>
    <h1>About Us</h1>
    <div class="about-info">
        <div class="about-img">
            <img src="/images/logo.jpeg" alt="Eventure">
        </div>
        <div>
            <p>Welcome to our event booking platform, your one-stop destination for discovering and reserving exciting events! With our user-friendly website,
                you can effortlessly explore a wide range of events, from concerts to festivals. We offer a seamless and convenient experience,
                allowing you to browse event details, view dates, and access ticketing information with ease. Whether you're a music enthusiast,
                a party animal, or someone looking to expand their horizons, our platform has something for everyone. Discover unforgettable experiences,
                connect with like-minded individuals, and secure your spot at your favorite events hassle-free. Join us today and embark on a journey of exploration
                and entertainment, all at your fingertips!</p>
        </div>
    </div>
</section>

<section class="team">
    <h1>Meet Our Team</h1>
    <div class="team-cards">

        <!-- Card 1 -->
        <div class="card">
            <div class="card-img">
                <img src="/images/reneh.jpg" alt="Reneh's Picture">
            </div>
            <div class="card-info">
                <h2 class="card-name">Reneh Al-Madanat</h2>
                <p class="card-role">Java Developer</p>
                <p class="card-email">renehm2001@gmail.com</p>
                <a href="#" class="social-icon github-icon"><i class="fab fa-github"></i></a>
                <a href="#" class="social-icon linkedin-icon"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="card">
            <div class="card-img">
                <img src="/images/aws.jpg" alt="Aws's Picture">
            </div>
            <div class="card-info">
                <h2 class="card-name">Aws Al-Omari</h2>
                <p class="card-role">Java Developer</p>
                <p class="card-email">awsalomari11469@gmail.com</p>
                <a href="#" class="social-icon github-icon"><i class="fab fa-github"></i></a>
                <a href="#" class="social-icon linkedin-icon"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="card">
            <div class="card-img">
                <img src="/images/balqees.jpeg" alt="Balqees's Picture">
            </div>
            <div class="card-info">
                <h2 class="card-name">Balqees Al-Qudah</h2>
                <p class="card-role">Java Developer</p>
                <p class="card-email">Balqeesalqudah97@gmail.com</p>
                <a href="#" class="social-icon github-icon"><i class="fab fa-github"></i></a>
                <a href="#" class="social-icon linkedin-icon"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="card">
            <div class="card-img">
                <img src="/images/saif.jpeg" alt="Saif's Picture">
            </div>
            <div class="card-info">
                <h2 class="card-name">Saif Yahya</h2>
                <p class="card-role">Java Developer</p>
                <p class="card-email">saifbarakat991@gmail.com</p>
                <a href="#" class="social-icon github-icon"><i class="fab fa-github"></i></a>
                <a href="#" class="social-icon linkedin-icon"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>

        <!-- Card 5 -->
        <div class="card">
            <div class="card-img">
                <img src="/images/haya.jpg" alt="Haya's Picture">
            </div>
            <div class="card-info">
                <h2 class="card-name">Haya Hasan</h2>
                <p class="card-role">Java Developer</p>
                <p class="card-email">haya.nael01@gmail.com</p>
                <a href="#" class="social-icon github-icon"><i class="fab fa-github"></i></a>
                <a href="#" class="social-icon linkedin-icon"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</section>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>