<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.6/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.6/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="/css/aboutUs.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/searchbar.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <title>About Us</title>

    <style>


        .form-container {
            background-color: #fff;
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        h1 {
            font-size: 24px;
            text-align: center;
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        input[type="date"],
        input[type="time"],
        input[type="number"],
        input[type="url"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            width: 100%;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
<div th:if="${isUsernameFound == 'yes'}">
    <div th:replace="fragments/headerAfter :: header"></div>
</div>
<div th:if="${isUsernameFound == 'no'}">
    <div th:replace="fragments/headerBefore :: header"></div>
</div>


    <h1>About Us</h1>
    <section  class="about">
    <div class="about-container">
        <div class="about-image">
            <img src="/images/logo.jpeg" alt="Eventure">
        </div>
        <div class="about-text">
            <p>Welcome to our event booking platform, your one-stop destination for discovering and reserving exciting events! With our user-friendly website,
                you can effortlessly explore a wide range of events, from concerts to festivals. We offer a seamless and convenient experience,
                allowing you to browse event details, view dates, and access ticketing information with ease. Whether you're a music enthusiast,
                a party animal, or someone looking to expand their horizons, our platform has something for everyone. Discover unforgettable experiences,
                connect with like-minded individuals, and secure your spot at your favorite events hassle-free. Join us today and embark on a journey of exploration
                and entertainment, all at your fingertips!</p>
        </div>
    </div>
</section>



<!-- Add event form -->
<div class="form-container">
    <h1>Add Event</h1>
    <form id="add-event-form" action="/addNewEvent" method="POST" >
        <label for="name">Event name:</label>
        <input type="text" name="name" id="name" required/>
        <br><br>
        <label for="startDate">Start Date:</label>
        <input type="date" name="startDate" id="startDate" required/>
        <br><br>
        <label for="endDate">Start Date:</label>
        <input type="date" name="endDate" id="endDate" required/>
        <br><br>
        <label for="eventUrl">Event URL:</label>
        <input type="text" name="eventUrl" id="eventUrl" required/>
        <br><br>
        <label for="location">Location:</label>
        <input type="text" name="location" id="location" required/>
        <br><br>
        <label for="streetAddress">Street name:</label>
        <input type="text" name="streetAddress" id="streetAddress" required/>
        <br><br>
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" required/>
        <br><br>
        <label for="priceCurrency">Price Currency:</label>
        <input type="text" name="priceCurrency" id="priceCurrency" value="USD" readonly/>
        <br><br>
        <label for="imageUrl">Image URL:</label>
        <input type="text" name="imageUrl" id="imageUrl" required/>
        <br><br>
        <button >Add</button>
    </form>
    <div style="color:green;margin-left:8pc;margin-top:10px" th:if="${successMessageBookedEvent}" class="alert alert-success">
        <span th:text="${successMessageBookedEvent}"></span>
    </div>
    <div style="color:red;margin-left:7pc;margin-top:10px" th:if="${errorMessageBookedEvent}" class="alert alert-danger">
        <span th:text="${errorMessageBookedEvent}"></span>
    </div>

</div>





<section class="team">
    <h1>Meet <span class="our-team">Our Team</span></h1>
    <div class="team-cards">

        <!-- Card 1 -->
        <div class="card">
            <div class="card-img">
                <img src="/images/reneh.jpg" alt="Reneh's Picture">
            </div>
            <div class="card-info">
                <h2 class="card-name">Reneh Al-Madanat</h2>
                <p class="card-role">Java Developer</p>
                <p class="card-email">renehm2001@gmail.com</p>
                <div class="social-icons-container">
                <a href="#" class="social-icon github-icon"><i class="fab fa-github"></i></a>
                <a href="#" class="social-icon linkedin-icon"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="card">
            <div class="card-img">
                <img src="/images/aws.jpg" alt="Aws's Picture">
            </div>
            <div class="card-info">
                <h2 class="card-name">Aws Al-Omari</h2>
                <p class="card-role">Java Developer</p>
                <p class="card-email">awsalomari11469@gmail.com</p>
                <div class="social-icons-container">
                <a href="#" class="social-icon github-icon"><i class="fab fa-github"></i></a>
                <a href="#" class="social-icon linkedin-icon"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="card">
            <div class="card-img">
                <img src="/images/balqees.jpeg" alt="Balqees's Picture">
            </div>
            <div class="card-info">
                <h2 class="card-name">Balqees Al-Qudah</h2>
                <p class="card-role">Java Developer</p>
                <p class="card-email">Balqeesalqudah97@gmail.com</p>
                <div class="social-icons-container">
                <a href="#" class="social-icon github-icon"><i class="fab fa-github"></i></a>
                <a href="#" class="social-icon linkedin-icon"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="card">
            <div class="card-img">
                <img src="/images/saif.jpeg" alt="Saif's Picture">
            </div>
            <div class="card-info">
                <h2 class="card-name">Saif Yahya</h2>
                <p class="card-role">Java Developer</p>
                <p class="card-email">saifbarakat991@gmail.com</p>
                <div class="social-icons-container">
                <a href="#" class="social-icon github-icon"><i class="fab fa-github"></i></a>
                <a href="#" class="social-icon linkedin-icon"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>

        <!-- Card 5 -->
        <div class="card">
            <div class="card-img">
                <img src="/images/haya.jpg" alt="Haya's Picture">
            </div>
            <div class="card-info">
                <h2 class="card-name">Haya Hasan</h2>
                <p class="card-role">Java Developer</p>
                <p class="card-email">haya.nael01@gmail.com</p>
                <div class="social-icons-container">
                <a href="#" class="social-icon github-icon"><i class="fab fa-github"></i></a>
                <a href="#" class="social-icon linkedin-icon"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="fragments/footer :: footer"></div>
<script src="/css/JS/aboutUs.js"></script>
</body>
</html>