<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
  <link href="/css/admin-home.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

</head>
<body>

  <!-- Sidebar -->
  <div class="sidebar">
    <img src="/images/logo.png" alt="Logo">
    <ul>
      <li><p><strong>Total Incomes:</strong> <span th:text="${totalIncomes}"></span></p></li>
      <li>
        <form action="/booked-events" method="get">
          <input type="submit" value="View All Booked Events">
        </form>
      </li>
      <li>
        <form action="/unpaid-events" method="get">
          <input type="submit" value="View Unpaid Events">
        </form>
      </li>
      <li>
        <form action="/pending-events" method="get">
          <input type="submit" value="View Pending Events">
        </form>
      </li>
      <li>
        <form action="/paid-events" method="get">
          <input type="submit" value="View Paid Events">
        </form>
      </li>
      <li><a th:href="@{/perform_logout}">Sign Out</a></li>
    </ul>
  </div>
  <!-- End SideBar-->
  <div class="content">
  <!-- Search Bars -->
  <div class="searchBars">
  <!-- User Search Form -->
  <form class="userForm" action="/user-search">
    <fieldset>
      <legend>Find Users</legend>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
      <input type="submit" value="Search">
    </fieldset>
  </form>
    <!-- End of User Search Form -->

  <!-- Event Search Form -->
  <form class="eventForm" action="/event-search">
    <fieldset>
      <legend>Find Events</legend>
      <label for="eventName">Event:</label>
      <input type="text" name="eventName" id="eventName">
      <input type="submit" value="Search">
    </fieldset>
  </form>
  <!-- End Of Event Search Form -->
    <!-- End SearchBar-->

    <!-- Start Of Dashboard-->
  <div class="dashboard">

    <!-- Start Of Booked Events Section -->
    <div class="BookedEventsSection">
      <h1 th:if="${totalBookedEvents}">Booked Events</h1>
      <p th:if="${totalBookedEvents}"><strong>Total Booked Events:</strong> <span th:text="${totalBookedEvents}"></span></p>

      <div class="card-container">
        <div class="card" th:each="event, stat : ${bookedEvents}" th:if="${bookedEvents}">
          <div class="card-img">
            <img th:src="${event.image}" alt="Event Image">
          </div>
          <div class="card-info">
            <h2 th:text="${event.name}"></h2>
            <p><strong>Booked by:</strong> <span th:text="${event.user.username}"></span></p>
            <p><strong>Start Date:</strong> <span th:text="${event.startDate.substring(0, 10)}"></span></p>
            <p><strong>End Date:</strong> <span th:text="${event.endDate}"></span></p>
            <p><strong>Time:</strong>
              <span th:if="${#strings.length(event.startDate) < 16}" th:text="'19:00:00'"></span>
              <span th:if="${#strings.length(event.startDate) >= 16}" th:text="${event.startDate.split('T')[1]}">
              </span>
            </p>
            <p><strong>Location:</strong> <span th:text="${event.location.name}"></span></p>
            <p><strong>Price:</strong> <span th:text="${event.price}"></span> <span th:text="${event.priceCurrency}"></span></p>
            <p><strong>Payment Status:</strong> <span th:text="${event.paymentStatus}"></span></p>
            <form th:action="@{'/update-event-status/' + ${event.id}}" method="post" th:if="${event.paymentStatus != 'Paid'}">
              <input type="submit" value="Change to Paid" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End Of Booked Events Section -->


    <!-- Start Of Paid Events Section -->
    <div class="PaidEventsSection">
      <h2 th:if="${totalPaidEvents}">Paid Events</h2>
      <p th:if="${totalPaidEvents}"><strong>Total Paid Events:</strong> <span th:text="${totalPaidEvents}"></span></p>
        <div class="card-container">
          <div class="card" th:each="event, stat : ${paidEvents}" th:if="${paidEvents}">
            <div class="card-img">
              <img th:src="${event.image}" alt="Event Image">
            </div>
            <div class="card-info">
              <h2 th:text="${event.name}"></h2>
              <p><strong>Booked by:</strong> <span th:text="${event.user.username}"></span></p>
              <p><strong>Start Date:</strong> <span th:text="${event.startDate.substring(0, 10)}"></span></p>
              <p><strong>End Date:</strong> <span th:text="${event.endDate}"></span></p>
              <p><strong>Time:</strong>
                <span th:if="${#strings.length(event.startDate) < 16}" th:text="'19:00:00'"></span>
                <span th:if="${#strings.length(event.startDate) >= 16}" th:text="${event.startDate.split('T')[1]}">
              </span>
              </p>
              <p><strong>Location:</strong> <span th:text="${event.location.name}"></span></p>
              <p><strong>Price:</strong> <span th:text="${event.price}"></span> <span th:text="${event.priceCurrency}"></span></p>
              <p><strong>Payment Status:</strong> <span th:text="${event.paymentStatus}"></span></p>
              <form th:action="@{'/update-event-status/' + ${event.id}}" method="post" th:if="${event.paymentStatus != 'Paid'}">
                <input type="submit" value="Change to Paid" />
              </form>
            </div>
          </div>
        </div>
      </div>
    <!-- End Of Paid Event Section -->

    <!-- Start Of Pending Events Section -->
        <div class="pendingEvents">
          <h2 th:if="${totalPendingEvents}">Pending Events</h2>
          <p th:if="${totalPendingEvents}"><strong>Total Pending Events:</strong> <span th:text="${totalPendingEvents}"></span></p>
            <div class="card-container">
              <div class="card" th:each="event, stat : ${pendingEvents}" th:if="${pendingEvents}">
                <div class="card-img">
                  <img th:src="${event.image}" alt="Event Image">
                </div>
                <div class="card-info">
                  <h2 th:text="${event.name}"></h2>
                  <p><strong>Booked by:</strong> <span th:text="${event.user.username}"></span></p>
                  <p><strong>Start Date:</strong> <span th:text="${event.startDate.substring(0, 10)}"></span></p>
                  <p><strong>End Date:</strong> <span th:text="${event.endDate}"></span></p>
                  <p><strong>Time:</strong>
                    <span th:if="${#strings.length(event.startDate) < 16}" th:text="'19:00:00'"></span>
                    <span th:if="${#strings.length(event.startDate) >= 16}" th:text="${event.startDate.split('T')[1]}">
              </span>
                  </p>
                  <p><strong>Location:</strong> <span th:text="${event.location.name}"></span></p>
                  <p><strong>Price:</strong> <span th:text="${event.price}"></span> <span th:text="${event.priceCurrency}"></span></p>
                  <p><strong>Payment Status:</strong> <span th:text="${event.paymentStatus}"></span></p>
                  <form th:action="@{'/update-event-status/' + ${event.id}}" method="post" th:if="${event.paymentStatus != 'Paid'}">
                    <input type="submit" value="Change to Paid" />
                  </form>
                </div>
              </div>
            </div>
<!--          <div th:if="${#lists.isEmpty(pendingEvents)}">-->
<!--            <p>No pending events available.</p>-->
<!--          </div>-->
          </div>
    <!-- End Of Pending Events Section -->

    <!-- Start Of UnPaid Events Section -->
        <div class="unpaidEventsSection">
          <h2 th:if="${totalUnpaidEvents}">Unpaid Events</h2>
          <p th:if="${totalUnpaidEvents}"><strong>Total Unpaid Events:</strong> <span th:text="${totalUnpaidEvents}"></span></p>
            <div class="card-container">
              <div class="card" th:each="event, stat : ${unpaidEvents}" th:if="${unpaidEvents}">
                <div class="card-img">
                  <img th:src="${event.image}" alt="Event Image">
                </div>
                <div class="card-info">
                  <h2 th:text="${event.name}"></h2>
                  <p><strong>Booked by:</strong> <span th:text="${event.user.username}"></span></p>
                  <p><strong>Start Date:</strong> <span th:text="${event.startDate.substring(0, 10)}"></span></p>
                  <p><strong>End Date:</strong> <span th:text="${event.endDate}"></span></p>
                  <p><strong>Time:</strong>
                    <span th:if="${#strings.length(event.startDate) < 16}" th:text="'19:00:00'"></span>
                    <span th:if="${#strings.length(event.startDate) >= 16}" th:text="${event.startDate.split('T')[1]}">
              </span>
                  </p>
                  <p><strong>Location:</strong> <span th:text="${event.location.name}"></span></p>
                  <p><strong>Price:</strong> <span th:text="${event.price}"></span> <span th:text="${event.priceCurrency}"></span></p>
                  <p><strong>Payment Status:</strong> <span th:text="${event.paymentStatus}"></span></p>
                  <form th:action="@{'/update-event-status/' + ${event.id}}" method="post" th:if="${event.paymentStatus != 'Paid'}">
                    <input type="submit" value="Change to Paid" />
                  </form>
                </div>
              </div>
            </div>
          </div>
    <!-- End Of UnPaid Events Section -->
  </div>
    <!-- End Of DashBoard -->
  </div>
</div>
</body>
</html>











