<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Event Search Results</title>
  <!-- Add your CSS styles here -->
</head>
<body>
<h1>Event Search Results</h1>
<div class="event-details">
  <h2>Event Details</h2>
  <ul>
    <!-- Loop through eventDetails and display event details -->
    <li th:each="event : ${eventName}">
      <div class="event">
        <h2 th:text="${event.name}"></h2>
        <p><strong>Start Date:</strong> <span th:text="${event.startDate}"></span></p>
        <p><strong>End Date:</strong> <span th:text="${event.endDate}"></span></p>
        <p><strong>URL:</strong> <a th:href="${event.url}" th:text="${event.url}"></a></p>
        <p><strong>Location:</strong> <span th:text="${event.location.name}"></span></p>
        <p><strong>Price:</strong> <span th:text="${event.price}"></span> <span th:text="${event.priceCurrency}"></span></p>
        <img th:src="${event.image}" alt="Event Image" width="200" height="150"/>
        <p><strong>Payment Status:</strong> <span th:text="${event.paymentStatus}"></span></p>
        <form th:action="@{'/update-event-status/' + ${event.id}}" method="post">
          <input type="submit" value="Change to Paid" />
        </form>
      </div>
    </li>
  </ul>
</div>
</body>
</html>