<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .user-events {
            margin-top: 20px;
        }

        .event-details {
            margin-top: 20px;
        }

        .event {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<h1>User Search Results</h1>
<div class="user-events">
    <h2>User's Booked Events</h2>
    <ul>
        <!-- Loop through userEvents and display booked events -->
        <h2>User's Booked Events for <span th:text="${userEvents[0].user.username}"></span></h2>
        <li th:each="event : ${userEvents}">
            <div class="event">
                <h2 th:text="${event.name}"></h2>
                <p><strong>Start Date:</strong> <span th:text="${event.startDate}"></span></p>
                <p><strong>End Date:</strong> <span th:text="${event.endDate}"></span></p>
                <p><strong>URL:</strong> <a th:href="${event.url}" th:text="${event.url}"></a></p>
                <p><strong>Location:</strong> <span th:text="${event.location.name}"></span></p>
                <p><strong>Price:</strong> <span th:text="${event.price}"></span> <span th:text="${event.priceCurrency}"></span></p>
                <img th:src="${event.image}" alt="Event Image" width="200" height="150"/>
                <p><strong>Payment Status:</strong> <span th:text="${event.paymentStatus}"></span></p>
                <form th:action="@{'/update-event-status/' + ${event.id}}" method="post">
                    <input type="submit" value="Change to Paid" />
                </form>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
