<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/searchbar.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />


    <title>Eventure </title>
</head>
<body>
<div th:replace="fragments/headerBefore :: header"></div>

<section id="home">
   <img src="/images/indeximg.png" alt="pic">
</section>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
