<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <!-- mobile metas -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="initial-scale=1, maximum-scale=1" name="viewport">
    <!-- site metas -->
    <title>Eventure</title>
    <!-- fevicon -->
    <link href="/images/fevicon.png" rel="icon" type="image/gif"/>
    <!-- bootstrap css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- style css -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- Responsive-->
    <link href="/css/responsive.css" rel="stylesheet">
    <!-- Scrollbar Custom CSS -->
    <link href="/css/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <!-- Tweaks for older IEs-->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen"
          rel="stylesheet">
    <link href="/css/events.css" rel="stylesheet">
</head>
<!-- body -->

<body>

<div class="main-layout contineer_page">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="/images/loading.gif"/></div>
    </div>

    <div th:if="${isUsernameFound == 'yes'}">
        <div th:replace="fragments/navbarAfter :: header"></div>
    </div>

    <div th:if="${isUsernameFound == 'no'}">
        <div th:replace="fragments/navbarBefore :: header"></div>
    </div>

</div>


<div class="card-container">
    <legend style="position: absolute;">Explore Events</legend>
    <form action="/events" class="search-box" method="GET" style="position: absolute;">
        <fieldset>
            <label for="searchCriteria"></label>
            <input id="searchCriteria" name="searchCriteria" placeholder="Enter Country or Date (YYYY-MM-DD)"
                   type="text">
            <button type="reset"></button>
        </fieldset>
    </form>
    <div th:each="event, stat : ${events}">
        <article class="card">
            <img alt="" class="card__background" height="2193" th:src="${event.image}" width="1920"/>
            <div class="card__content | flow">
                <div class="card__content--container | flow">
                    <h2 class="card__title" th:text="${event.name}"></h2>
                    <p class="card__description">
                        <span th:text="${event.startDate.substring(0, 4)}"></span>-
                        <span th:text="${event.startDate.substring(5, 10)}"></span> |
                        <span th:if="${#strings.length(event.startDate) < 16}" th:text="'19:00:00'"></span>
                        <span th:if="${#strings.length(event.startDate) >= 16}"
                              th:text="${event.startDate.split('T')[1]}"></span> |
                        <span th:text="'Price: ' + ${event.price + ' ' + event.priceCurrency}"></span>
                    </p>
                    <p class="card-text">
                        Location: <span th:text="${event.location.name}">Location Name</span>
                        Address: <span th:text="${event.location.address.streetAddress}">Street Address</span>,
                        <span th:text="${event.location.address.addressLocality}">Locality</span>,
                        <span th:text="${event.location.address.addressCountry.name}">Country</span>
                    </p><br>
                    <a th:href="${event.url}">Find out more</a>
                    <br>
                </div>
                <div th:if="${isUsernameFound == 'yes'}">
                    <form action="/book-event" method="post">
                        <input name="eventName" th:value="${event.name}" type="hidden"/>
                        <input name="image" th:value="${event.image}" type="hidden"/>
                        <input name="eventStartDate" th:value="${event.startDate}" type="hidden"/>
                        <input name="eventEndDate" th:value="${event.endDate}" type="hidden"/>
                        <input name="eventUrl" th:value="${event.url}" type="hidden"/>
                        <input name="price" th:value="${event.price}" type="hidden"/>
                        <!-- Location -->
                        <input name="eventLocationName" th:value="${event.location.name}" type="hidden"/>
                        <!-- Address -->
                        <input name="eventAddressStreet" th:value="${event.location.address.streetAddress}"
                               type="hidden"/>
                        <input name="eventAddressLocality" th:value="${event.location.address.addressLocality}"
                               type="hidden"/>
                        <!-- AddressCountry -->
                        <input name="eventAddressCountryName"
                               th:value="${event.location.address.addressCountry.name}"
                               type="hidden"/>
                        <button class="card__button" type="submit">Book Event</button>
                    </form>
                </div>
                <a href="/signup" style="margin-top:5px; margin-bottom:10px;"
                   th:unless="${isUsernameFound == 'yes'}"><strong>Login to book this event</strong></a>

            </div>
        </article>
    </div>
</div>


<div class="main-layout">
    <!--  footer -->
    <div th:replace="fragments/footer :: footer"></div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery-3.0.0.min.js"></script>
<script src="/js/plugin.js"></script>
<!-- sidebar -->
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/custom.js"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<!---->
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</body>
</html>