<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <!-- mobile metas -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="initial-scale=1, maximum-scale=1" name="viewport">
    <!-- site metas -->
    <title>Eventure</title>
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta content="" name="author">
    <!-- fevicon -->
    <link href="images/fevicon.png" rel="icon" type="image/gif"/>
    <!-- bootstrap css -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- style css -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Responsive-->
    <link href="css/responsive.css" rel="stylesheet">
    <!-- Scrollbar Custom CSS -->
    <link href="css/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <!-- Tweaks for older IEs-->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen"
          rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link rel="stylesheet" href="/css/T&C.css">
</head>
<!-- body -->

<body >
<div class="main-layout contineer_page">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img alt="#" src="images/loading.gif"/></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <div th:if="${isUsernameFound == 'yes'}">
        <div th:replace="fragments/navbarAfter :: header"></div>
    </div>
    <div th:if="${isUsernameFound == 'no'}">
        <div th:replace="fragments/navbarBefore :: header"></div>
    </div>
    <!---->
</div>


<div class="terms-container">
    <div class="container">
        <div class="heading">
            <h2>Terms And Conditions</h2>
        </div>

        <div class="content">
            <p>
                <strong>Xmartlabs, SRL ("Xmartlabs") operates Project Hub (as defined below), your use of Project Hub is
                    governed by these Terms of Service (“Terms”), and your use of Project Hub constitutes your
                    acceptance of the Terms.</strong>
            </p>
            <p>
                <strong>"Project Hub" (the "Service") means Project Hub project management solution made available at <a
                        href="https://tryprojecthub.com" target="_blank">https://tryprojecthub.com</a> (the “Site”) and any other
                    software, sites, and services offered by Xmartlabs in connection therewith but does not include any
                    sites, services, products, or offerings governed by other terms of use, or, other agreements between
                    you and Xmartlabs. "Customer Data" means any data you make available to Xmartlabs or Project Hub
                    from your GitHub account for the purpose of using Project Hub. "Content" means all content generated
                    by Xmartlabs on your behalf (including metric data) and does not include Customer Data.</strong>
            </p>
            <p>
                We will endeavor to provide you with notice about major changes to the Terms or Project Hub and
                other changes (via email to the address on your account), but we make no guarantees. Other changes
                could be, without limitation, changes to payment policies, security patches, added or removed
                functionality, and other enhancements or restrictions to Project Hub. Your use of Project Hub after
                the Terms have changed constitutes your acceptance of the Terms as changed. You may reject changes
                to the Terms by terminating your subscription in accordance with the "Cancellation and Termination"
                section of these Terms of Service. Xmartlabs shall not be liable to you or to any third party for
                any change to Project Hub.
            </p>
            <h2 class="section-title"> Cancellation and Termination</h2>
            <p>
                To cancel your subscription, account, and access to Project Hub, send us an email at <a
                    href="mailto:hi@tryprojecthub.com?Subject=Cancel+Subscription" target="_blank">hi@tryprojecthub.com</a>
                instructing us to do so or cancel via the functionality on the Waffle website. If you paid for your
                subscription, Xmartlabs is not obligated to provide any refunds if you cancel your subscription or
                if Xmartlabs terminates your subscription because you breached these Terms. If your subscription is
                cancelled or terminated in accordance with the foregoing before the end of the current paid-up
                month, your cancellation will take effect immediately and you will not be charged again. All of your
                Customer Data and Content will, within a reasonable amount of time to be determined solely by
                Xmartlabs, be deleted from Project Hub upon cancellation.
            </p>
            <h2 class="section-title"> General Legal Terms</h2>
            <p>
                These Terms constitute the whole legal agreement between you and Xmartlabs and govern your use of
                the Service and completely replace any prior agreements between you and Xmartlabs, written or oral,
                in relation to Project Hub.
            </p>
            <p>
                If any part of the Terms is held invalid or unenforceable, that portion shall be construed in a
                manner consistent with applicable law to reflect, as nearly as possible, the original intentions of
                the parties, and the remaining portions shall remain in full force and effect.
            </p>
            <p>
                The failure of Xmartlabs to exercise or enforce any right or provision of the Terms shall not
                constitute a waiver of such right or provision.
            </p>
            <p>
                Xmartlabs shall not be liable for failing or delaying performance of its obligations resulting from
                any condition beyond its reasonable control, including but not limited to, governmental action, acts
                of terrorism, earthquake, fire, flood or other acts of God, labor conditions, power failures, and
                Internet disturbances.
            </p>
            <p>
                Xmartlabs may assign this contract at any time to any parent, subsidiary, or any affiliated company,
                or as part of the sale to, merger with, or other transfer of our company to another entity. You may
                not assign these Terms.
            </p>
            <p>
                These Terms are adapted from the Waffle.io Terms of Service, which is an adaption of the CodeClimate
                Terms of Service, which is an adaption of the Heroku Terms of Service, which in turn is an
                adaptation of the Google App Engine Terms of Service. The original work has been modified with
                permission under the Creative Commons Attribution 3.0 License. Neither CA, Inc, CodeClimate, LLC,
                Heroku, Inc. nor Google, Inc. is connected with, nor do they sponsor or endorse, Xmartlabs or its
                use of the work.
            </p>
            <p>
                Version 1.0, June 7, 2023
            </p>
        </div>
    </div>
</div>
<div class="main-layout">
    <!--  footer -->
    <div th:replace="/fragments/footer :: footer"></div>
    <!-- end footer -->
</div>

<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/plugin.js"></script>
<!-- sidebar -->
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/custom.js"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>


</body>

</html>